<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('recipes')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" ngbDropdown>
                    <a href="#" class="dropdown-toggle" role="button" ngbDropdownToggle> Manage <span class="caret"></span></a>
                    <div class="ul dropdown-menu" ngbDropdownMenu>
                        <li ngbDropdownItem><a href="#">Save data</a></li>
                        <li ngbDropdownItem><a href="#">Fetch data</a></li>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>