<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" style="max-height: 300px;" alt="" class="img-responsive">
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" ngbDropdown>

            <button type="button" class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
                Manage Recipes <span class="caret"></span>
            </button>
            <div class="ul dropdown-menu" ngbDropdownMenu>
                <li ngbDropdownItem><a href="#" >To Shopping List</a></li>
                <li ngbDropdownItem><a href="#">Edit Recipe</a></li>
                <li ngbDropdownItem><a href="#">Delete Recipe</a></li>
            </div>
        </div>
    </div>
</div>

<div class="div row">
    <div class="div col-xs-12">
        Description
    </div>
</div>

<div class="div row">
    <div class="div col-xs-12">
        Ingredients
    </div>
</div>